{% extends 'base.html' %}

{% block title %}
    Manage Classes | GA Attendance
{% endblock %}

{% block content %}
    <h2>Manage Classes</h2>
    <div class="class-list-container">
        {% if classes %}
            <ul class="class-list">
                {% for class in classes %}
                <li class="class-item">
                    <span class="class-name">
                        <a href="{% url 'class_detail' pk=class.pk %}">{{ class.name }}</a>
                    </span>
                    <div class="class-actions">
                        <a href="{% url 'edit_class' class_id=class.pk %}" class="edit-link">Edit</a>
                        <a href="{% url 'delete_class' class_id=class.pk %}" class="delete-link">Delete</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No classes available. <a href="{% url 'create_class' %}">Create a new class</a>.</p>
        {% endif %}
    </div>
    <div class="create-class-link">
        <a href="{% url 'create_class' %}">Create New Class</a>
    </div>
{% endblock %}
