{% extends 'base.html' %}

{% block title %}
  Profile | GA Attendance
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-primary">Profile</h2>
    <p class="text-center"><strong>Welcome, {{ user.username }}!</strong></p>
    <p class="text-center"><strong>Email:</strong> {{ user.email }}</p>
    <p class="text-center"><strong>Bio:</strong> {{ user.profile.bio|default:"No bio available." }}</p>

    {% if user.profile.profile_img %}
        <div class="text-center mt-4">
            <img src="{{ user.profile.profile_img.url }}" alt="Profile Image" class="rounded-circle img-thumbnail" style="width: 150px; height: 150px;">
        </div>
    {% else %}
        <p class="text-center text-muted">No Profile Image</p>
    {% endif %}

    <div class="text-center mt-4">
        <form method="get" action="{% url 'edit_profile' %}">
            <button type="submit" class="btn btn-primary">Edit Profile</button>
        </form>
    </div>
</div>
{% endblock %}
